.App {
  text-align: center;
}

body {
  font-family: 'Abel', sans-serif;
}

/**
 * hero section
 */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url('./images/splash.jpg');
  height: 720px;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 5px;
  height: 7rem;
}

.nav__item {
  list-style: none;
  color: white;
  margin-left: 15px;
  padding-top: 15px;
}

.nav__item:hover {
  border-bottom: 2px solid #EA2C42;
  cursor: pointer;
}

/**
 *  hero info body section
 */

.navInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  align-items: center;
}

p {
  color: white;
  font-size: 24px;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Open Sans';
  font-size: 48px;
}

.hero__button {
  text-decoration: none;
  color: white;
}