.App {
  text-align: center;
}

body, html {
  font-family: 'Abel', sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

/**
 * hero section
 */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url('https://lh3.googleusercontent.com/cPFLRuVdCKGNUBd5H6P3QTGbeoIXGEa9dPQGtO2nsoMpFnkotFiHa5fUEttSRhe5mvjtj_gzVyAuqo1xTJhA2dKfRREZxug9pCD9aqgG5Fo-94Ya7YaF0EDEEk17WuYpMDchwGYWTvPjtDUCGvbHhyDGfCWQjfB8HB0dJKEp5pTw0vGNVmhXvUxeKjuYjGeaRDOthgJH5OM5M9YG6CTTqik6YpJzKdYdP2SnM94ZcX_-Xuo4XbrRRb7MxPE8Xb4hc8YyXsK-U5-P98Jrmd_YetLO2xW1RlK7EI18eZkQUbtLp00c1hfYurZhhO-ALCdHSNzzufvaTm_DM78nGGUtg7FvWj_Jea7rtnPJ3yODV05c3_6Zgv_xeiEc2b8ySC_Iib4UzgeQez2z5ORBazXW6T1JprCOnInRQaC-RaXJqO2HhTeFoUfgPBwPfEGXCH0IzWqhJ-qVULZspCKryxPRVjwjfVNPJtPSlnMGjjIyGfM2EGysSZcCQ4HbBdYE168xcbemBq9UUpMnG8boSmuN0cXoG7Oh-MP9Etm_cK-gO_GWnrt96vCf5SqIMGVV4sJTPUZSR0DXKyVgqyGtthIHo9VfmjhL7aAGZuO4H8LaOEA30r2VvV5znKILcrc35YiuQ8GRLYsSqAAZEG_j8Q=w2164-h1442-no');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 5px;
  height: 50px;
}

.nav__item {
  list-style: none;
  color: #FDFFFC;
  padding-top: 10px;
  margin-left: 15px;
}

.nav__item:hover {
  border-bottom: 5px solid #EA2C42;
  cursor: pointer;
}

/**
 *  hero info body section
 */

.navInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 700px;
  align-self: center;
  margin-top: 50px;
}

#nav--mobile a {
  color: #FDFFFC;
  text-decoration: none;
}

.navInfo p {
  color: #FDFFFC;
  font-size: 24px;
  text-align: center;
}

.navInfo h1 {
  color: #FDFFFC;
  font-family: 'Open Sans';
  font-size: 48px;
}

.contact__link {
  text-decoration: none;
  color: #EA2C42;
  border-bottom: 1px dashed #EA2C42;
}

/**
 * button container
 */

.hero__button {
  text-decoration: none;
  color: #FDFFFC;
  background-color: rgba(79, 80, 80, 0.6);
  width: 200px;
  font-size: 24px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-self: center;
  justify-content: space-evenly;
  border-radius: 3px;
}

.btn--red {
  background-color: #EA2C42;
}

.button__container {
  display: flex;
  align-self: center;
}

.hero__button i {
  padding-top: 3px;
}

/**
 * mobile responsive menu
 */

.toggle {
  width: 100%;
  color: #FDFFFC;
  padding: 15px;
  font-size: 30px;
  box-sizing: border-box;
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    width: 100% !important;
    display: block;
    position: fixed;
    text-align: right;
    z-index: 5;
    background-color: #07171C;
    overflow-x: hidden;
  }
  .contact--mobile {
    background-color: #EA2C42;
    font-size: 16px !important;
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 8em;
    color: #FDFFFC;
    text-decoration: none;
    padding: 10px !important;
  }
  .contact {
    height: 60rem !important;
    width: 100vw !important;
  }
  .about__container {
    display: flex;
    flex-direction: column !important;
    align-self: center !important;
    align-items: center;
  }
  .red__bar {
    display: none;
  }
  #about--name {
    color: #FDFFFC;
    background-color: #EA2C42;
    padding: 2px !important;
    font-size: 14px;
  }
  .about__info {
    justify-content: center !important;
    align-self: center !important;
  }
  .about__info p {
    font-size: 18px !important;
  }
  .aboutImage {
    align-self: center;
    height: 15rem !important;
    width: 15rem !important;
  }
  .about__container {
    width: 100%;
  }
  .form__card {
    width: 100% !important;
  }
  .form__button {
    -webkit-appearance: none !important;
  }
  .nav {
    width: 100%;
    display: none;
  }
  .nav__item {
    width: 100vw;
    margin: 0;
    padding: 15px auto;
    padding-bottom: 10px;
    background-color: #07171C;
    z-index: 4;
    position: relative;
    font-size: 24px;
  }
  #nav--mobile {
    margin-top: 53px;
  }
  .active {
    display: block;
  }
  /**
   * this is for the content inside of the hero 
   */
  .button__container {
    flex-direction: column;
  }
  .navInfo h1, p {
    width: 300px;
    font-size: 12px;
    align-self: center;
  }
  .navInfo h1 {
    font-size: 24px;
  }
  .navInfo {
    width: 100% !important;
  }
  .hero__button {
    font-size: 18px;
    width: 140px;
    height: 30px;
  }
  .hero {
    flex-direction: row;
    height: 100vh;
    width: 100vw !important;
  }
  .n {
    position: fixed;
  }
  /**
   * project container/items for smaller screens
   */
  .project__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .project {
    /* margin: 0; */
    max-width: 100%;
    align-self: center;
    flex-direction: column !important;
    height: 600px;
    justify-content: flex-start !important;
    padding: 0 !important;
  }
  .project__info p {
    font-size: 18px !important;
  }
  .project__info h1 {
    font-size: 20px !important;
  }
  .project__image {
    align-self: center;
    height: 200px !important;
    width: 250px !important;
  }
  .project__buttons {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    max-height: 70px;
  }
}

@media (max-width: 1024px) {
  /**
   * project container/items for tablet size screens
   */
  .project__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .project {
    /* margin: 0; */
    max-width: 100%;
    align-self: center;
    flex-direction: column !important;
    height: 600px;
    justify-content: flex-start !important;
    padding: 0 !important;
  }
  .project__info p {
    font-size: 18px !important;
  }
  .project__info h1 {
    font-size: 20px !important;
  }
  .project__image {
    align-self: center;
    height: 200px !important;
    width: 250px !important;
  }
  .project__buttons {
    max-width: 100%;
    display: flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70px;
  }
}

/**
 * project section
 */

.project__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 25px;
  box-shadow: 0 4px 2px -2px gray;
}

.project__info {
  max-width: 100%;
}

.project__image {
  height: 550px;
  width: 620px;
}

.project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 500px;
  height: 17rem;
}

.project__info p {
  font-size: 20px;
  line-height: 1.2;
  color: #5E6468;
  font-weight: 650;
}

.project__info a {
  font-size: 35px;
  color: #07171C;
  padding: 7px;
  border-radius: 4px;
  text-decoration: none;
}

.project__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project__title a:hover {
  border-bottom: 5px solid #EA2C42;
}

span {
  background-color: #EA2C42;
  margin: 5px;
  color: #FDFFFC;
  border-radius: 4px;
  font-size: 24px;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px;
}

.project--one {
  background-image: url('https://lh3.googleusercontent.com/8saAANinUCr-mT-sGvfPuVj-Wh526k97h8oprJCrIwwGmpzmyf53JMC2R1z_30U4_NpY407krNyQbdYwDnV-jsZWuqAzVgdYGAe8iECxrtV9KSIV2SsF4qYl4UUmURo_-2dTyc_1-7AP3BN15iEHO9J_iU9x6wRliEHKfioAexMvBRxXumHUBM2qtFQOekJzWfb1Ft3uZ_5XqYISbxvfcwFmjM6RJ1-r67j71ZlM6rQMtBLzvT3HrquRxZ2DEQ3thJWR6cIADeojDN8K1E3CruB8wiYwW_YeebH3QoIRImiQBqZ4hqe6yXqqC2jecvwKV0royEMoILk1_dNPlcfVsetbxmAU6AC_HTqXYyA_-V6hYGx-bQC7b8pLydT1XEA4DeCcKTKmcQ5XW5-eMQsxU99cLfUa3HM8lQqUSomIIPArapIU1mxrckAi28Jl9Zj7hh9MHjtBXdb3cadK2KjMWZ1ftbZlOHYZon3_SV-0GAXr5LQMXmuzA4S_xVydL8FuRq8v_oVa3DE1UyIfcsj3V0wSKFqb2RplL-FyRGAiGVCN0eqbWxaLiJt4Jnfcv5yuLwdzWnUb_f45YlBSFQzSM5uiUF1rK-wQbA86pY66QJpBesdX5W2B1RPp_FQBs6qfXipO-zc9LfLw66KGUA=s1442-no');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--two {
  background-image: url('https://lh3.googleusercontent.com/sBk9VoGzn0_I9oJP32sDxoUbH-jRVGw50MoRgLGwiaUaGZpZqYYJwkC4vbHN9P0PogNlzq7fN7O0cM0rzSNdmMjcBoWCLxI_aIVsYZQJKNdKAsp8MEmDiNRsgw11iP4EXW89z0yGm2XTIBc1u75reyHjH8OPkq8sjCSQdavxzwzGmTo4aGeN3lIVtvkEWmdhCtlSDMw2SGr4LTtEnwfMHTntT4nuPsrfVsi05Kb1plPesz37jmBmsiXZqrefzoDj0-LXxaCajagNF8l2TukxZDS6dmU_ZrLMAjExKxXwCL24s-TG5WBr2oZndub2GqsA29W8gunFYVCOGwf-hL3BG0nukQD5v8UMvlZzFVdbY2tLQ3fZdmllYkyAhzqHpafzuogLIWRx6ocKAHqOV7Bo_tygXefNt99TZy_2_VLqNulCOOyg47K6NK1FJ1_vtSPiGpLIbCjI9ryY69w6u066kQxWyq306l6dfRrFydtviAxufqpDo6OCY45XW4RoOThtZzjIEs2gX1Mkp-snsP6rI4uvm2PxHmONcgu_XdjXvHNqNFxivJqOzOKcV0FgmXz4QbrAQSN935ppHp5zBAV4B_cSYCDGDOxXSNb-SyHTys831jk4m6adNdZOzEM9IXYRiWF_rFJLb-0XW2ETPA=s1442-no');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--three {
  background-image: url('https://lh3.googleusercontent.com/RWtEu0bTDdXHuJtioJ-uOahyE3JLtHembljSpp_JOedeZU_1zPdzpSnazQ2MhiZMrsVqal8cwUr0rGRx9YwayBtchxKAweIu9HSLUGp5naycpNDyDsqPJvqn5BvC2ZwNhnE7xbf40GpwP12b74sylfM6cZCBPzos9VWpCB1N8tlHiRlNge1YPf8ckB-t0Au7rmbRf1qDS5JiKkmpu_8I65YWDg-Xcom8nl_Mx3nt2kQ_9dMmHVFA30qFleDha6q31YE8FiPQiXlJZKYc9vSFAEXPckmn5YkjFRjy6dvANILp2XuyTuaXq_ZY6FkLHfqVSJLHig1nJCBHbI3TSAkp_6una6XouxVuTYEcoROKmwAYXhwt_Ax2oWexzeii9SXrhuZwh-gFSy9VGaMQHR39iLkVo6ZGVyUPChoWSrrkOUEBBwIg1EuvZf4f2dHU5JYjUA8STe3mjkhxr9Ej0_keQxHKHx0Idzedo7YlxAsxnvlxA_qhh7s_8Q-a0SdKF2pCj_Ta1jVpjxCQM1GmnmDtC7ivJksrWEGaXZgn99KbzOoDQsLXU2cn-YYElfXhom2ke-PPUhDboea28E3lybb7Nq-SoCLYwkev9xmzKSio7LUZtnfDgLt05WPYwXNNfTLSJ2ihHjtsS3Xa_lS9sQ=s1442-no');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--four {
  background-image: url('https://lh3.googleusercontent.com/Y-44y--VmN5wZJZ3BvZOekZA4bjNXc3EKenmMFMjze_zIZgyx0rwjffhNsFxnO_S_v2ClXrkgNU9feyCfQkEjJ5I9fJt3ZB47tPD6O9D2O61Xl8Fy2hrhYOKGZpwUkv9WY10hMjjhpCzgPvZz7lKmUwdqU5xAbahPiTT0c6zZnJyREKDfS6W9rEfOkr3MQ-0GobyrdNA1W_sbWwKWSIWV-n0QrgZ-6yTpZFxK9TjmailGNWJ0KrhwGG354_8NLx7ElqvXYktz5y_yYM4wTnS-43HUIjiZ4h-swpK3ZWWI9e3xuMH_T5Qro5K813dOJXWQxY1dqaOjGe0ODzKZs4rkdgTsJWPIdxxH42S-62Z92v-gDO_GvPe0b7TWH-bVlP8Lu27-oAj9LxKbc-98o-Nx81VFalMdfSnPPv2DqJfY8BFFU3JHp0m7JmYLNHYg2i8JqKTdIg-GFkwEyP0-Z6Ton7CpLb8-ZECKVGlMCjGQnxgYGcUKyR3aDL_s2j1Q5ixj7a2HBYot40PnOFt8M1d12J0emFyeiDR1_UshK8NpKkEl7ZVzbknGhB9E3jZQWSzLTqqPScWNV5afam0lhrLpC4D_pqCjmkFQau31cj2tewJqQ0BjQdFdc6ChThDYHyyuP3FeXLt1zALONX5cw=s1442-no');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/**
 * contact button
 */

.contact--button {
  background-color: #EA2C42;
  font-size: 26px!important;
  position: fixed !important;
  bottom: 18px !important;
  right: 25px;
  border-radius: 8em;
  color: #FDFFFC;
  text-decoration: none;
  padding: 16px;
}

.contact--button:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}

/**
 * about section
 */

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutImage {
  background-image: url('https://lh3.googleusercontent.com/18KU8QP67qTmgDpgyqgm1ffdJCZjV6avFgDOXf1WRcnrqsdlUf1E_sav0urptHF8x9KBn9BkvCBOWFAH3XWgrisqiwH8zbHd6FiTUkCktyOvsXp24TKlbp7OJd_qA-iCRVgsSAVPudmk-_A6KrOCSgo_qchlkLBIJj8l-dH5jf1UubjdpK5saZURNVHrU1rF6CmFQpJQ8ZJB1GlKxCg6MKrnKt5U219ffe1l1pszGrcMf63Ea8krBHyXDOJtPoBs5Oh0b6_eQPsOk6DqrrggCxI4AO1psffaff2pnROLFWNhbTIIVe6yPNw2uevHc6RJVqjvK1gobOVP3TokDnT7-N4XLTbVJ35vr_7nUsN7IJdzoCIOwYqvALqdAhORst9V6q_9uRuzGkhauT-jSTyUcOocXADFBXg8I1vwScKzeoH296rnlEyRZ9n83ATW622OXMQTCFt5w5VLNImZSQLXsd46BuVN3Gp7_f6WzsMP6M7pdUP3loO9ovRpqSqjOyfxkY7e51iw5zHtZcHkRqb7GocdeWu9YHT9eYKfqhp97LHqrNinMeSm46c6kPNbGfYIxrJ3uxJXLLl9uigh_qpwFLxBbtDEgxJFOakVjZgJCpFPV2LAPbOAeEDCvVW6MDyE-uukobrhZ38j17keKw=w962-h1442-no');
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px;
}

.about__info {
  display: flex;
  flex-direction: row;
  line-height: 1.4;
  justify-content: space-around;
  width: 28rem;
  font-size: 28px;
}

.red__bar {
  background-color: #EA2C42;
  width: 20px;
  margin: 23px;
}

/**
 * contact section
 */

.contact__header {
  font-size: 32px;
}

.about__header {
  margin-top: 80px;
  font-size: 32px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 65rem;
  justify-content: center;
}

.form__wrapper {
  height: 35rem;
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__card {
  display: flex;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 35rem;
  align-self: center;
}

/**
 * form inputs 
 */

input {
  height: 2.3rem;
  width: 20rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

textarea {
  border-radius: 4px;
  height: 15rem;
  width: 20rem;
  font-size: 1.5rem;
}

.form__button {
  border-radius: 4px;
  width: 20.5rem;
  height: 2.8rem;
  color: #FDFFFC;
  font-size: 1.5rem;
  background-color: #EA2C42;
}

.form__button:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}

/**
 * social media container 
 */

.socialMedia__container {
  background-color: #07171C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 23rem;
}

.socialMedia__items {
  width: 80%;
  height: 7rem;
  border: 2px solid #EA2C42;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMedia__items a {
  color: #5E6468;
  text-decoration: none;
  font-size: 3rem;
}

.socialMedia__items a:hover {
  color: #FDFFFC;
}

.copyright__items {
  color: #FDFFFC;
  font-size: 20px;
}

.copyright p {
  color: #5E6468;
}