.App {
  text-align: center;
}

body {
  font-family: 'Abel', sans-serif;
  line-height: 1;
}

/**
 * hero section
 */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url('./images/splash.jpg');
  height: 680px;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 5px;
  height: 70px;
}

.nav__item {
  list-style: none;
  color: #FDFFFC;
  padding-top: 15px;
  margin-left: 15px;
}

.nav__item:hover {
  border-bottom: 5px solid #EA2C42;
  cursor: pointer;
}

/**
 *  hero info body section
 */

.navInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 700px;
  align-self: center;
}

.navInfo p {
  color: #FDFFFC;
  font-size: 24px;
  text-align: center;
}

.navInfo h1 {
  color: #FDFFFC;
  font-family: 'Open Sans';
  font-size: 48px;
}

.contact__link {
  text-decoration: none;
  color: #EA2C42;
  border-bottom: 1px dashed #EA2C42;
}

/**
 * button container
 */

.hero__button {
  text-decoration: none;
  color: #FDFFFC;
  background-color: rgba(79, 80, 80, 0.6);
  width: 200px;
  font-size: 24px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-self: center;
  justify-content: space-evenly;
  border-radius: 3px;
}

.btn--red {
  background-color: #EA2C42;
}

.button__container {
  display: flex;
  align-self: center;
}

.hero__button i {
  padding-top: 3px;
}

/**
 * mobile responsive menu
 */

.toggle {
  width: 100%;
  color: #FDFFFC;
  padding: 15px;
  font-size: 30px;
  box-sizing: border-box;
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    display: block;
    text-align: right;
    background-color: rgb(7, 23, 28, .9)
  }
  .nav {
    width: 100%;
    display: none;
  }
  .nav__item {
    width: 100vw;
    margin: 0;
    padding: 20px auto;
    background-color: rgb(7, 23, 28, .4);
    z-index: 4;
    position: relative;
    font-size: 24px;
  }
  .hero {
    position: absolute;
  }
  .active {
    display: block;
  }
  /**
   * this is for the content inside of the hero 
   */
  .button__container {
    flex-direction: column;
  }
  .navInfo h1, p {
    width: 300px;
    align-self: center;
  }
  .navInfo h1 {
    font-size: 30px;
  }
  .hero__button {
    font-size: 24px;
    width: 140px;
  }
  .hero {
    height: 100vh;
  }
}

/**
 * project section
 */

.project__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 25px;
  box-shadow: 0 4px 2px -2px gray;
}

.project__image {
  height: 550px;
  width: 620px;
}

.project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 500px;
  height: 17rem;
}

.project__info p {
  font-size: 20px;
  line-height: 1.2;
}

.project__info a {
  font-size: 28px;
  background-color: #EA2C42;
  color: white;
  padding: 7px;
  border-radius: 4px;
  text-decoration: none;
}

.project__buttons {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.project__buttons span {
  background-color: #EA2C42;
  margin: 5px;
  color: #FDFFFC;
  border-radius: 4px;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 7px;
}

.project--one {
  background-image: url('./images/macbookgrey_front.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}