.App {
  text-align: center;
}

body,
html {
  font-family: "Abel", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

/**
 * hero section
 */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("./images/splash.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 5px;
  height: 50px;
}

.nav__item {
  list-style: none;
  color: #fdfffc;
  padding-top: 10px;
  margin-left: 15px;
}

.nav__item:hover {
  border-bottom: 5px solid #ea2c42;
  cursor: pointer;
}

/**
 *  hero info body section
 */

.navInfo {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 100%;
  align-items: center;
  padding: 0 15px;
}

#nav--mobile a {
  color: #fdfffc;
  text-decoration: none;
}

.navInfo p {
  color: #fdfffc;
  font-size: 24px;
  text-align: center;
}

.navInfo h1 {
  color: #fdfffc;
  font-family: "Open Sans";
  font-size: 48px;
}

.contact__link {
  text-decoration: none;
  color: #ea2c42;
  border-bottom: 1px dashed #ea2c42;
}

/**
 * button container
 */

.hero__button {
  text-decoration: none;
  color: #fdfffc;
  background-color: rgba(79, 80, 80, 0.6);
  width: 200px;
  font-size: 24px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-self: center;
  justify-content: space-evenly;
  border-radius: 3px;
}

.btn--red {
  background-color: #ea2c42;
}

.button__container {
  display: flex;
  align-self: center;
}

.hero__button i {
  /* padding-top: 3px;  */
}

/**
 * mobile responsive menu
 */

.toggle {
  width: 100%;
  color: #fdfffc;
  padding: 15px;
  font-size: 30px;
  box-sizing: border-box;
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    width: 100% !important;
    display: block;
    position: fixed;
    text-align: right;
    z-index: 5;
    background-color: #07171c;
    overflow-x: hidden;
  }
  .contact--mobile {
    background-color: #ea2c42;
    font-size: 16px !important;
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 8em;
    color: #fdfffc;
    text-decoration: none;
    padding: 10px !important;
  }
  .contact {
    height: 60rem !important;
    width: 100vw !important;
  }
  .about__container {
    display: flex;
    flex-direction: column !important;
    align-self: center !important;
    align-items: center;
  }
  .red__bar {
    display: none;
  }
  #about--name {
    color: #fdfffc;
    background-color: #ea2c42;
    padding: 2px !important;
    font-size: 14px;
  }
  .about__info {
    justify-content: center !important;
    align-self: center !important;
  }
  .about__info p {
    font-size: 18px !important;
  }
  .aboutImage {
    align-self: center;
    height: 15rem !important;
    width: 15rem !important;
  }
  .about__container {
    width: 100%;
  }
  .form__card {
    width: 100% !important;
  }
  .form__button {
    -webkit-appearance: none !important;
  }
  .nav {
    width: 100%;
    display: none;
  }
  .nav__item {
    width: 100vw;
    margin: 0;
    padding: 15px auto;
    padding-bottom: 10px;
    background-color: #07171c;
    z-index: 4;
    position: relative;
    font-size: 24px;
  }
  #nav--mobile {
    margin-top: 53px;
  }
  .active {
    display: block;
  }
  /**
   * this is for the content inside of the hero 
   */
  .button__container {
    flex-direction: column;
  }
  .navInfo h1,
  p {
    width: 300px;
    font-size: 12px;
    align-self: center;
  }
  .navInfo h1 {
    font-size: 24px;
  }
  .navInfo {
    width: 100% !important;
  }
  .hero__button {
    font-size: 18px;
    width: 140px;
    height: 20px;
  }
  .hero {
    flex-direction: row;
    height: 100vh;
    width: 100vw !important;
  }
  .n {
    position: fixed;
  }
  /**
   * project container/items for smaller screens
   */
  .project__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .project {
    /* margin: 0; */
    max-width: 100%;
    align-self: center;
    flex-direction: column !important;
    height: 600px;
    justify-content: flex-start !important;
    padding: 0 !important;
  }
  .project__info p {
    font-size: 18px !important;
  }
  .project__info h1 {
    font-size: 20px !important;
  }
  .project__image {
    align-self: center;
    height: 200px !important;
    width: 250px !important;
  }
  .project__buttons {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    max-height: 70px;
  }
}

@media (max-width: 1024px) {
  /**
   * project container/items for tablet size screens
   */
  .project__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .project {
    /* margin: 0; */
    max-width: 100%;
    align-self: center;
    flex-direction: column !important;
    height: 600px;
    justify-content: flex-start !important;
    padding: 0 !important;
  }
  .project__info p {
    font-size: 18px !important;
  }
  .project__info h1 {
    font-size: 20px !important;
  }
  .project__image {
    align-self: center;
    height: 200px !important;
    width: 250px !important;
  }
  .project__buttons {
    max-width: 100%;
    display: flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70px;
  }
}

/**
 * project section
 */

.project__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 25px;
  box-shadow: 0 4px 2px -2px gray;
}

.project__info {
  max-width: 100%;
}

.project__image {
  height: 550px;
  width: 620px;
}

.project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 500px;
  height: 17rem;
}

.project__info p {
  font-size: 20px;
  line-height: 1.2;
  color: #5e6468;
  font-weight: 650;
}

.project__info a {
  font-size: 35px;
  color: #07171c;
  padding: 7px;
  border-radius: 4px;
  text-decoration: none;
}

.project__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project__title a:hover {
  border-bottom: 5px solid #ea2c42;
}

span {
  background-color: #ea2c42;
  margin: 5px;
  color: #fdfffc;
  border-radius: 4px;
  font-size: 24px;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px;
}

.project--one {
  background-image: url("./images/macbookgrey_front.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--two {
  background-image: url("./images/PixaShareLapTop.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--three {
  background-image: url("./images/SweetestMemories.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--four {
  background-image: url("./images/699fourteenthLaptop.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--five {
  background-image: url("./images/CE_MackbookFrame.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project--six {
  background-image: url("./images/FrontTriviaMacBook.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.project--seven {
  background-image: url("./images/AlvialandAssociatesMacbook.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image--link {
  align-self: center;
  padding: 0px;
}

/**
 * contact button
 */

.contact--button {
  background-color: #ea2c42;
  font-size: 26px !important;
  position: fixed !important;
  bottom: 18px !important;
  right: 25px;
  border-radius: 8em;
  color: #fdfffc;
  text-decoration: none;
  padding: 16px;
}

.contact--button:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}

/**
 * about section
 */

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutImage {
  background-image: url("./images/headShot.jpg");
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px;
}

.about__info {
  display: flex;
  flex-direction: row;
  line-height: 1.4;
  justify-content: space-around;
  width: 28rem;
  font-size: 28px;
}

.red__bar {
  background-color: #ea2c42;
  width: 20px;
  margin: 23px;
}

/**
 * contact section
 */

.contact__header {
  font-size: 32px;
}

.about__header {
  margin-top: 80px;
  font-size: 32px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 65rem;
  justify-content: center;
}

.form__wrapper {
  height: 35rem;
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__card {
  display: flex;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 35rem;
  align-self: center;
}

/**
 * form inputs 
 */

input {
  height: 2.3rem;
  width: 20rem;
  border-radius: 4px;
  font-size: 1.5rem;
  outline: 0;
  border-width: 0 0 2px;
  font-family: "Abel", sans-serif;
}

input:focus {
  border-color: #ea2c42;
}

textarea {
  font-family: "Abel", sans-serif;
  border-radius: 4px;
  height: 15rem;
  width: 20rem;
  font-size: 1.5rem;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(94, 100, 104, 0.3);
  resize: none;
}

textarea:focus {
  border-color: #ea2c42;
}

.form__button {
  font-family: "Abel", sans-serif;
  border-radius: 8px;
  width: 20.5rem;
  height: 2.8rem;
  color: #fdfffc;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ea2c42;
}

.form__button:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}

/**
 * social media container 
 */

.socialMedia__container {
  background-color: #07171c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 23rem;
}

.socialMedia__items {
  width: 80%;
  height: 7rem;
  border: 2px solid #ea2c42;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMedia__items a {
  color: #5e6468;
  text-decoration: none;
  font-size: 3rem;
}

.socialMedia__items a:hover {
  color: #fdfffc;
}

.copyright__items {
  color: #fdfffc;
  font-size: 20px;
}

.copyright p {
  color: #5e6468;
}
